__pycache__/
*.py[cod]
.DS_Store
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.uv-cache/
venv/
.env

# core
.anchor/
anchor_files/
temp/

# use cases
examples/commons/phylogenetic_subtrees/data/output/*.json
examples/commons/phylogenetic_subtrees/data/output/align
examples/commons/phylogenetic_subtrees/data/output/validated-files

examples/commons/synthetic_tool_selection/data/output/*.json
examples/commons/synthetic_tool_selection/data/output/*/*.json

examples/commons/synthetic_phylogenetic_subtrees/data/output/*.json
examples/commons/synthetic_phylogenetic_subtrees/data/output/align
examples/commons/synthetic_phylogenetic_subtrees/data/output/validated-files

examples/commons/complex_phylogenetic_subtree/data/output/*.json
examples/commons/complex_phylogenetic_subtree/data/output/align
examples/commons/complex_phylogenetic_subtree/data/output/validated-files

website/